# This is a very simplified .env.example file. 
# Be free to add some new environment variable that you need

PORT # API port; by general, 3006
DB_HOST # database host; 
DB_PORT # database port; by general, 3306
DB_USER # your database user
DB_PASSWORD # your database password
DB_DATABASE # your database name;
